/.Rhistory
/*.*~
.Rproj.user
.RData
cf.Rproj
/AG2014 for R.xlsm
/Hx_tabel.xlsx
/Invoerbestand.xlsx
/data/DeelnemerInput/AG2014 for R.xlsm
/data/DeelnemerInput/Hx_tabel.xlsx
/data/DeelnemerInput/overlevingstafels.xlsx
/data/DeelnemerInput/qxy_col2003.ods
/data/SterfteTabellen/Invoerbestand.xlsx

